<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://192.168.175.212/index">
            <div class="sidebar-brand-text mx-3">
                Um nome
                <sup>1</sup>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="http://192.168.175.212/index">
                <i class="fas fa-align-left align-items-center">

                </i>
                <span>Andamentos</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Clientes
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo">
                <i class="fas fa-user-circle"></i>
                <span>Clientes</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style>
                <div class="bg-white py-2 collapse-inner rounded">

                    <a class="collapse-item" href="http://192.168.175.212/clientes/cadmaioridade">Cadastrar maior
                        idade</a>
                    <a class="collapse-item" href="http://192.168.175.212/clientes/procurarcliente">Procurar
                        Cliente</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Processos
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree">
                <i class="fas fa-gavel"></i>
                <span>Processos</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="heandingThree" data-parent="#accordionSidebar"
                style>
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">Procurar processo</a>
                    <a class="collapse-item" href="#">Procurar parte contraria</a>
                </div>
            </div>
        </li>

    </ul>
